html
   head
      link(rel="stylesheet", href="/webix/webix.css", type="text/css")
      script(type="text/javascript", src="/webix/webix.js")

      link(rel='stylesheet', href='/stylesheets/style.css')

      script(src="https://d3js.org/d3.v3.min.js")


      script(type="text/javascript", src="https://maps.google.com/maps/api/js?key=AIzaSyAkq6Jq9xkh9JrLU0jhL8BRp_tfMSP1gV0")
      script(src="/js/infobox.js")
      script(src="https://cdn.webix.com/components/googlemap/googlemap.js")



      script(src="/js/addKey.js")
      script(src="/js/buttons.js")
      script(src="/js/search_address.js")

      script(type="text/javascript", src="/js/webix-googlemap.js")

      script.
         var mapId = !{JSON.stringify(mapId)};
         var oMap = !{JSON.stringify(oMap)};
         var header = !{JSON.stringify(header)};
         var year = !{JSON.stringify(year)};
         var id = undefined;
         var demandUnit = !{JSON.stringify(demandUnit)};
         var mapStyles = !{JSON.stringify(mapStyle)};
         var mapStylesLocal = !{JSON.stringify(mapStyleLocal)};
         var oGeoData = !{JSON.stringify(geoData)};
         var oDemandDataYear = !{JSON.stringify(demandDataYear)};
         var oDemandData = {};
         var oPopData = {};
         oDemandData[year] = oDemandDataYear;
         var oRateData = !{JSON.stringify(rateData)};
         var supplyPoints = undefined;

      title #{oMap.header}


   body
      script(type="text/javascript", src="js/webix-ui.js")
